---
import { getCollection } from "astro:content";
import { type BlogPost } from "../content/config";

const blogPosts = await getCollection("blog");

const seriesList = blogPosts.reduce((acc, post) => {
  if (post.data.series) {
    if (!acc[post.data.series]) {
      acc[post.data.series] = [];
    }
    acc[post.data.series].push(post);
  }
  return acc;
}, {});

function comparePostDates(
  a: { data: BlogPost },
  b: { data: BlogPost }
): number {
  const dateA = new Date(a.data.date);
  const dateB = new Date(b.data.date);
  return dateA.getTime() - dateB.getTime();
}
---

<ul>
  {
    Object.entries(seriesList).map(
      ([series, posts]: [string, [{ data: BlogPost; slug: string }]]) => (
        <>
          <h3>{series}</h3>
          {posts.sort(comparePostDates).map((post) => {
            const date = new Date(post.data.date);
            const year = date.getUTCFullYear();
            const month = (date.getUTCMonth() + 1).toString().padStart(2, "0");
            const day = date.getUTCDate().toString().padStart(2, "0");
            const dateString = `${year}-${month}-${day}`;
            return (
              <li>
                <span>
                  <a href={post.slug}>{post.data.title}</a> --{" "}
                  <span>{dateString}</span>
                </span>
              </li>
            );
          })}
        </>
      )
    )
  }
</ul>
